<script type="text/javascript">
    var _featherLoaded = false;

    Feather_Theme = 'bluesky';
    Feather_EditOptions = 'all';
    Feather_OpenType = 'lightbox';
    Feather_CropSizes = '320x240,640x480,800x600,1280x1024';

	Feather_Stickers =
	[
		  			["http://www.emoticonswallpapers.com/avatar/logos/Doritos.gif", "http://www.emoticonswallpapers.com/avatar/logos/Doritos.gif"]
	];

    Feather_OnSave = function(id, url) {
        var e = document.getElementById(id);
        e.src = url;
        aviaryeditor_close();
    }

    Feather_OnLoad = function() {
        _featherLoaded = true;
    }

    function launchEditor(imageid) {
        if (_featherLoaded) {
            var src = document.getElementById(imageid).src;
            aviaryeditor(imageid, src);
        }
    }
</script>
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

<!-- End Generated Code -- Don't Copy Below This Line -->



<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br/>
<%= image_tag("#{@user.facebook_profile_url}", :id => 'test') %>


<p>
  <input type="image" src=<%= "#{@user.facebook_profile_url}"%> value="Edit photo" onclick="launchEditor('test'); return false;" />
</p>




